

.thermo {
    background: url("../img/Sprite.png");
    display: block;
    width: 821px;
    height: 463px;
    margin-left: auto;
    margin-right: auto;
}

#s0 {
    background-position: 0px 0px;
}

#s1 {
    background-position: 0px -463px;
}

#s2 {
    background-position: 0px -926px;
}

#s3 {
    background-position: 0px -1389px;
}

#s4 {
    background-position: 0px -1852px;
}

#s5 {
    background-position: 0px -2315px;
}

#s6 {
    background-position: 0px -2778px;
}

#s7 {
    background-position: 0px -3241px;
}

#s8 {
    background-position: 0px -3704px;
}

#s9 {
    background-position: 0px -4167px;
}

#s10 {
    background-position: 0px -4630px;
}
